/**
 *  PPQ.css
 */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

.main a{
	color:#0085a1;
}
.main a:hover {
	/*color: #000;*/
	/*text-decoration: none;*/
}

.main, .container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
}

@font-face {
	font-family: 'huxico';
	src:url('../fonts/huxico.eot');
	src:url('../fonts/huxico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/huxico.woff') format('woff'),
		url('../fonts/huxico.ttf') format('truetype'),
		url('../fonts/huxico.svg#huxico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

/******* Hux Branch *****/

/* navbar - dark mode */
.navbar-custom .nav li a,
.navbar-custom .nav li a:hover,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {color:#777;}
.navbar-default .navbar-toggle .icon-bar {background-color:#777;}

html{
	font-size: 90%;
}
body{
	background: #fafafa;
}
header{
	text-align: center;
	min-width: 100%;
	padding: 5em 0px;
	padding-bottom: 10em;
	position: relative;
	border-bottom: 1px solid #edeeee;
}
header h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 10px;
    line-height: 1;
}
header p{
	text-align: center;
	color: #252728;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: 1px;
	font-weight: 300;
	margin: 1.7em;
}
header img{
	width: 175px;
}

@media screen and (max-width: 400px) {
	.main{
		padding-bottom: 0px;
	}
	html{
		font-size: 90%;
	}
	header p{
		font-size: 1.05em;
		letter-spacing: 0px;
		margin: 1.5em;
	}
	.cbp_tmlabel ul li.skill>span, .cbp_tmlabel ul li.skill>a{
	    margin-right: 2px;
	}
}
